*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
  height:100px;
  width:auto;
}
.container{
    max-width:1113px;
    margin:0 auto;
}
.logo_name{
    padding-left:30px;
    padding-top:28px;
}
.wrapper{
    display:flex;
    justify-content:space-between;
}
.menu{ 
  display: flex;
  justify-content:space-evenly;
  list-style: none; 
  padding-top:39px;
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
a{
   text-decoration: none;
   color: black;
}
li:not(:last-child){
    margin-right: 20px;
}
.button_contact{
    border:3px solid ;
    border-radius: 25px;
    padding:15px 36px;
    background-color: white;
    margin-top:25px;
}
.menu__btn{
	display: flex;
	align-items: center;
	visibility: hidden;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	z-index: 1;
}

#menu__toggle {
	opacity: 0;
}

.menu__box{
	display: block;
	position: fixed;
	visibility: hidden;
    list-style:none;
	top: 0;
	margin: 0;
	right: -400px;
	height: 450px;
	padding: 50px 0;
	width: 300px;
	background-color: aliceblue;
	transition-duration: .25s;
}

.menu__item {
	display: block;
	padding: 30px 30px;
	color: grey;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 250;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	height: 2px;
	width: 25px;
	background-color: black;
	transition-duration: .25s;
}

.menu__btn > span::after {
	content: '';
	top: 8px;
}

.menu__btn > span::before {
	content: '';
	top: -8px;
}

.menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 26px;
	right: 80px;
}


#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
}


#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: -40px;
}
main{
    background-color:#EBEBEB;
    padding-top:140px;

}
.main_content{ 
    height:auto;
    width:1113px;
    margin:0 auto;
}
.subtitle{
   color:#BDBDBD;
   font-family: 'Lato',sans-serif;
   font-style: normal;
   font-weight:900;
   font-size:24px;
   line-height:33px;
   padding-bottom:40px;
}
.main_header{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    padding-bottom:102px;
}
.block{
    padding-bottom:140px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,360px);
    gap:30px;
    
}
.block1{
    background-image:url(/Rectangle\ 33.png);
    background-size:cover;
}
.block2{
    background-image:url(/Rectangle\ 2.png);
    background-size:cover;
}
.block_name{
    color:white;
    padding-top:40px;
    padding-left:45px;
    width: 187px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}
.more{
    background:transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    padding:10px 32px;
    margin-top:156px;
    margin-left:31px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer{
    padding-top:140px;
    width:1113px;
    margin:0 auto;
}
.footer_block{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:125px;

}
.footer_subtitle{
    color:#BDBDBD;
    padding-bottom:40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
}
.footer_title{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    padding-bottom: 60px;
}
.footer_title span{
    color:rgba(30, 82, 159, 0.961);
}
.about_us p{
    width:445px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}
.our_result{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
}
.part{
    background-color:#EBEBEB;
    width:255px;
    height:255px;
}
.part4{
   background-color:#005FA3;
   width:255px;
   height:255px;
   color:#FFFFFF;
}
.our_result .nummer{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
}
.our_result .text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px; 
    width:107px;
    padding:30px 0;   
}
.more_info{
    border: 2px solid #005FA3;
    border-radius: 25px; 
    padding:10px 21px;
    color:#005FA3
}
.part4 .more_info{
    background:transparent;
    border-color: #FFFFFF;
    color:#FFFFFF;
}
.part,.part4{
   padding:30px 40px; 
}
.add_info{
    background-image:url(/Rectangle.png);
    background-size:cover;
    display:none;
    width:806px;
    margin:0 auto;
    height:969px;
    color:white;
}
.section_content{
    width:603px;
    margin: 0 auto;
    padding-top:122px;
}
.add_info h1{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    padding-bottom:60px;
}
.add_info p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    padding-bottom:80px;
}
.input{
    padding:15px;
    width:295px ;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    background-color: rgba(0,0,0,0);
    outline: 0;
    }
.input__box{
    display: flex;
    flex-direction:column ;
}
.contact{
    display:flex;
    justify-content: space-between;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    padding-bottom:80px ;
}
.tel,.email{
    display:flex;
    justify-content: space-evenly;   
}
.phone,.post{
    padding-right:24px;
}
label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; 
}
.name{
    display: flex;
    justify-content: space-between;
    padding-bottom:35px;
}
.sms{
    height:100px;
    margin-bottom:50px;
}
.submit{
    float: right;
    background-color:#005FA3;
    border-color:#005FA3;
    color: #FFFFFF;
    padding:19px 20.84px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}
@media only screen and (max-width: 1200px){
    .add_info{
        display:block;
    }
    .menu,.button_contact{
        display: none;
    }
    .menu__btn{
		visibility: visible;
	}
    .container{
        width:603px;
    }
    .subtitle{
        display: none;
    }
    .main_header{
       width:631px; 
       padding-top:49px;
    }
    .block{
        display:grid;
        grid-template-rows:repeat(6,360px) ;
        grid-template-columns:repeat(1,618px);
        gap:30px;
        padding-top:63px;
    }
    .main_content{
        width:603px;
        margin:0 auto;
    }
    .more{
        visibility: hidden;
    } 
    .block_name{
        padding-top:261px;
        padding-left:79px;
        width: 510px;
    }
    footer {
        width:603px;
        margin:0 auto;
        padding-top:0;
    }
    .footer_subtitle{
        display:none;
    }
    .footer_title{
        padding-top:66px ;
    }
    .footer_block{
        display: grid;
        grid-template-columns: repeat(1,631px);
        gap:35px;
    }
    .about_us p{
        width:631px;
    }
    .our_result{
        display: grid;     
        grid-template-columns: repeat(1,631px);
        gap:30px;
        padding-bottom:76px;
    }
    .part, .part4{
        display:flex;
        justify-content: space-around;
        align-items:center;
        width:631px;
        height:120px;
    }
    .more_info{
        visibility: hidden;
    }
    .more_info::before{
        content:'Все кейсы';
        visibility: visible;
        text-decoration: underline;
    }
  }

    
  
